body{
    margin: none;
    background-color: #FFF;
    color: #AAA;

}

a{
  text-decoration: none;
}

#navigatorDiv{
    background-color: #FFF;
    width: 500px;
    height: 500px;
}

.brainSlice{
  width: 450px;
  height: 450px;
}

#ObliqueMain_canvas{
  border-width: 4px;
  border-style: solid;
  border-color: #0088ff;
  margin-right: 5px;
}

#ObliqueOrthoU_canvas{
  border-width: 4px;
  border-style: solid;
  border-color: #00ff55;
  margin-right: 5px;
}

#ObliqueOrthoV_canvas{
  border-width: 4px;
  border-style: solid;
  border-color: #ff3333;
}

.dg select{
/*
border: none;
*/
color: #FFF;

border: 1px solid #111;
outline: 0px;
background: transparent;
width: 220px;
padding: 0px 0px 0px 0px;
font-size: 13px;
border: 1px solid #333;
height: 19px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background: url(arrow.png) 96% / 10% no-repeat;
}

.dg select:focus {
outline: none;
}
