<span class="auto_window_launch" data-window-name="brainbrowser" data-url="<%= display_userfile_path(@userfile) %>?viewer=obj_viewer">
Opening new brainbrowser window. If you don't see a window check if your browser is blocking the window from opening. Click <a href="<%= display_userfile_path(@userfile) %>?viewer=obj_viewer" target="_blank">here to reopen</a>
</span>

