
<STRONG>Input:</STRONG>
<P>
<%
# Historically, the IDs were in a single string.
civet_collection_ids = params[:civet_collection_ids] || [] # used to be string
civet_ids            = civet_collection_ids.is_a?(Array) ? civet_collection_ids : civet_collection_ids.split(/,/)
%>
<UL>
 <% civet_ids.each do |id| %>
   <LI>CIVET Result: <%= link_to_userfile_if_accessible id %></LI>
 <% end %>
</UL>
<BR>
Delete original CIVET results: <%= params[:destroy_sources] == 'YeS' ? "YES!" : "No." %>
<P>
<STRONG>Output:</STRONG>
<P>
CIVET Study: <%= link_to_userfile_if_accessible params[:output_civetstudy_id] %>

