
  <strong class="warning">Warning: this task was created using an old version of CBRAIN's CIVET code</strong>

  <p class="medium_paragraphs warning">
    This task contains multiple distinct CIVET processes; the new CIVET code
    only runs a single CIVET per task. The task can be viewed but can no longer
    be edited or restarted; you can however launch new CIVET tasks using the
    same inputs and options.
  </p>

