
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<% 
  if params[:qc_file] == "base"
    qc_file = @userfile.list_files("QC", :file).find{ |qc| qc.name =~ /\.html$/ && !@userfile.subject_ids.include?(Pathname.new(qc.name).basename.to_s.sub(/\.html$/, "")) }
    qc_file = qc_file.name if qc_file
    qc_file ||= ""
  else
    qc_file = @userfile.name + "/QC/" + params[:qc_file]
  end
  qc_file = "" unless @userfile.list_files.find { |f| f.name == qc_file }
%>
<strong>QC</strong><br><br>
<% if File.file?(@userfile.cache_full_path.parent + qc_file) %>
  <%
  doc = Nokogiri::HTML.fragment(File.read(@userfile.cache_full_path.parent + qc_file))
  doc.search("a").each {|link| link['href'] = "/userfiles/#{@userfile.id}/display?viewer=civet_study%2Fqc_file&qc_file=#{link['href']}&apply_div=false" }
  doc.search("img").each {|img| img['src'] = "/userfiles/#{@userfile.id}/content?content_loader=collection_file&arguments=#{@userfile.list_files.map(&:name).find{ |file| file =~ /#{img['src'].sub(/^\.+\//, "")}$/ }}" }
  doc.search("image").each {|img| img['src'] = "/userfiles/#{@userfile.id}/content?content_loader=collection_file&arguments=#{@userfile.list_files.map(&:name).find{ |file| file =~ /#{img['src'].sub(/^\.+\//, "")}$/ }}" }
  %>
  <%= doc.to_html.html_safe %>
<% else %>
  Error: the QC report seems to be missing in this study. Maybe the QC task did
  not complete successfully.
<% end %>
<br>
<div id="qc_data">
</div>


