<% if @userfile.subject_ids.include?(params[:base_directory]) %>
  <%= render :partial  => "userfiles/viewers/civet_output_contents", :locals => {:base_dir => "#{params[:base_directory]}/verify"} %>
<% else %>
  <span class="warning">Invalid Subject</span>
<% end %>
