
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>


Input collections selected:<BR>
<UL>
  <% params[:interface_userfile_ids].each do |id| %>
  <LI><%= link_to_userfile_if_accessible(id) %></LI>
  <% end %>
</UL>


Base name: </br>
<%= form.params_text_field :base_name %></br>
<small>
recon-all's base output is saved in Recon-all base output.</br>
If you don't fill this option, the base name will be Base-{task_number}-{run_number}.<br>
Otherwise, the base name will have the following format {base_name}-{task_number}-{run_number}</br>
</small>
