
<P>
<STRONG>MINC file to process:</STRONG> <%= link_to_userfile_if_accessible(params[:launch_table][:in_id]) %>
</P>

<P>
<STRONG>Corrected MINC output file:</STRONG> <%= link_to_userfile_if_accessible params[:outfile_id] %>
</P>

