
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>


<br/>
<%
   cache_path   = @userfile.cache_full_path
   file_name = params[:file_name].present? ? params[:file_name] : "report.html"
   file_path = "#{cache_path}/#{file_name}"
   return raw("Page not found!") unless File.exist? file_path 
   lines = Array.new
   lines << "<hr/><b>Higher-level analysis</b> "
   lines << "<ul><li><a href=\"#{@userfile.id}?file_name=report.html\">#{@userfile.name}</a></li></ul>\n"
%>
<% lower = false %>
<% @userfile.list_first_level_dirs.each do |directory| %>
   <% if directory.end_with? "ica" and not directory.end_with? "filtered_func_data.ica" %>
     <% if not lower %>
       <% lower = true
         lines << "<b>Lower-level analyses</b>\n<ul>\n"
       %> 
     <% end %>
     <%
        basedir = File.basename(directory)
	report_name = "report.html"
	report_name = "report/00index.html" if directory.end_with? "groupmelodic.ica"
        lines << "<li><a href=\"#{@userfile.id}?file_name=#{basedir}/#{report_name}\">#{basedir}</a></li>\n"
     %>
   <% end %>
<% end %>
<% 
   lines << "</ul>\n<hr/><hr/>"
   lines << @userfile.modified_file_content(file_path,(File.dirname(file_name)+"/").gsub("./",""))
   content = lines.join
%>
<a name="file_content"></a>
<%=
   raw(content)
%>
