<div class = "help_button_tools">
    <a class = "overlay_link" data-url = "/doc/tasks/dcm2mnc_options.html">Help</a>
</div>

<%= render :partial => 'utility_interface_file_list',
           :locals  => { :toolname => 'Dcm2Minc', :params_var => :dicom_colid }
%>

