
<%= image_tag MincFile.public_path('MincNavigator/images/logo.png'), :width => "50%" %>

<p>

The link below will launch a <em>prototype</em> oblique viewer
called <strong>MincNavigator</strong> in a separate window.

<p>

It is software that is part of the BrainBrowser suite, and has been
developed by Jonathan Lurie.

<p>

It is not garanteed to work well; in particular it only works
with MINC2 files (which are HDF5-based).

<p>

<% link_id = "minc_navigator_#{@userfile.id}" %>

<%= link_to("Click to start Minc Navigator!",
      MincFile.public_path('MincNavigator/index.html').to_s,
      :class  => "action_link",
      :id     => link_id,
      :target => "_blank",
    )
%>
<br>
<span class="error_link" id="mn_message"></span>

<style type="text/css">
    a[disabled="disabled"] {
        pointer-events: none;
    }
</style>

<script type="text/javascript">
  (function() {

    // Values obtained from Rails server side
    var link_id    = "<%= link_id %>";
    var url        = "<%= raw escape_javascript content_userfile_path(@userfile, :content_loader => :minc_content) %>";

    // Our main launch link.
    var start_link = $("#"+link_id);

    // Check for localStorage
    if (typeof(Storage) === "undefined") {
    //if (1) {
      start_link.attr('disabled','disabled').html('Cannot launch MincNavigator.');
      $('#mn_message').html('Your browser does not support LocalStorage.').
      return;
    }

    // I hate that I have to pass the URL as a localStorage, but this is prototype stuff.
    start_link.bind('click', function() { localStorage.setItem("mincUrl", url); });

  })();
</script>

