
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>


<STRONG>Cross-sectional input:</STRONG> 
<% if params[:interface_userfile_ids] && params[:interface_userfile_ids].size > 0 %>
  <UL>
  <% params[:interface_userfile_ids].each do |id| %>
    <LI><%= link_to_userfile_if_accessible id %></LI>
  <%end %>
  </UL>
<% else %>
  </br>No input files.</br>
<%end %>
</br>

<STRONG>Base output:</STRONG>
<% if params[:base_output_id]%>
  <UL>
    <LI><%= link_to_userfile_if_accessible params[:base_output_id] %></LI>
  </UL>
<% else %>
  </br>No output files.</br>
<%end %>
</br>

<STRONG>Longitudinal output:</STRONG>
<% if params[:long_outputs_ids] && params[:long_outputs_ids].size > 0 %>
  <UL>
  <% params[:long_outputs_ids].each do |id| %>
      <LI><%= link_to_userfile_if_accessible id %></LI>
  <%end %>
  </UL>
<% else %>
  </br>No output files.</br>
<%end %>
