
<h5>About This OpenNeuro Dataset</h5>

<% if @open_neuro.configured? %>

  <p class="medium_paragraphs">
    This dataset is currently <strong>configured</strong> within the CBRAIN system.
    CBRAIN users can access the dataset's files, select them
    for processing, and view their contents.
  </p>

<% else %>

  <p class="medium_paragraphs">
    This dataset is currently <strong>unconfigured</strong> within the CBRAIN system.
    However, CBRAIN users can request the dataset to be
    installed and configured by clicking a single button.
    From that point on, CBRAIN users can access the dataset's files, select them
    for processing, and view their contents.
  </p>
  <p class="medium_paragraphs">
    This on-demand dataset installation mechanism will also
    make the dataset's files available to all other CBRAIN users too.
  </p>

<% end %>

<p>
  To log in to CBRAIN or get an account, go to the
  <%= link_to 'CBRAIN Login Page', login_path(), :class => 'button' %>
</p>
